div(id='detail', data-ng-show='detail !== undefined')
	div
		h3(class="pull-left") #{__('example1')}
		div(class="pull-right", style="margin-top:9px;")
			ul(class="btn-txt-group")
				li <a href="" data-ng-click="autoplan($event)", ng-class="{'disabled': autoPlannable.length == 0}"><span class="fa fa-check"></span> #{__("example333")} </a>
				li <a href="#" data-ng-click="export($event)" data-ng-class="{disabled: !hasPlannedData}"><span class="fa fa-external-link"></span> #{__("example2")} </a>

